// =======================
// Color
// =======================
$white: #fff;
$gray: #E3E3E3;
$light-gray: #F5F5F5;
$middle-gray: #C8C8C8;
$black: #000;
$black-800: #1e1e1e;
$black-900: #191919;
$blue: #4a6bb6;
$navy: #182848;
$navy-light: #2A3F7D;
$red: #b8164b;
$orange: #E26900;
$pink: #EF2F4E;
$lightPink: #FCF2F5;
$yellow: #f9c80e;
$focusBlue: #0f7bff;